@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

textarea, input, select {
  -webkit-user-select: text;
  user-select: text;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
  height: 100vh;
}
